.link{cursor: pointer;background-color: blue;}

.one{
    border-radius: 5px;
    border-color: blue;
    background-color: blue;
    height: 25px;
    


}

.two{
    border-radius: 5px;
    border-color: grey;
    background-color: grey;
    height: 25px;
}

.three{
    border-radius: 5px;
    border-color: green;
    background-color: green;
    height: 25px;
}

.four{
    border-radius: 5px;
    border-color: red;
    background-color: red;
    height: 25px;
}

.five{
    border-radius: 5px;
    border-color: yellow;
    background-color: yellow;
    height: 25px;
}

.six{
    border-radius: 5px;
    border-color: skyblue;
    background-color: skyblue;
    height: 25px;
}

.seven{
    border-radius: 5px;
    border-color: lightgray;
    background-color:lightgray;
    height: 25px;
}

.eight{
    border-radius: 5px;
    border-color: black;
    background-color: black;
    height: 25px;
    color: white;
}

.nine{
    border-radius: 5px;
    border-color: ghostwhite;
    background-color: ghostwhite;
    height: 25px;
}

